.content-sample {
  overflow: hidden;
  text-align: center;
  h3 {
    text-align: left;
    clear: both;
  }
  figure {
     display: inline-block;
     margin: 10px 10px;
     width: 80%;
     &:last-child {
       float: left;
     }

     figcaption {
       margin: 5px;
     }
  }
  @media (min-width: 600px) {
    figure {
      width: 40%;
    }
  }
  @media (min-width: 900px) {
    figure {
      width: 30%;
    }
  }
  
}