* {
  margin: 0;
  padding: 0;
}

$footerHeight: 250px;
$headerHeight: 100px;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
}

header {
  max-width: 1200px;
  overflow: hidden;
  height: $headerHeight;
  nav {
    height: 100px;
    width: 100%;

    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    img {
      display: block;
      height: 80px;
    }

    .navbar {
      height: 40px;
      margin: 30px 20px;
    }
  }
}

.main {
  min-height: 100vh;
  margin: -$headerHeight auto 0 auto;
  padding: $headerHeight 0 $footerHeight 0;

  .content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 20px;
  }
  .nav-bar {
    height: 60px;

    h2 {
      font-size: 18px;
    }
    h2, ol {
      display: inline-block;
      background: transparent;
      color: #999;
    }
    
    ol li {
       font-size: 16px;
    }
    ol li a {
      font-family: "Microsoft YaHei", Tahoma, Verdana, "Simsun";
    }
  }
}
.footer {
  height: $footerHeight;
  margin-top: -$footerHeight;
  background: #161616;
  color: #bebebe !important;
  overflow: hidden;

  .footer-nav {
     margin: 10px 0 0px 0 !important;
  }
  .footer-nav li {
    // display: list-item;
    // float: left;
    margin: 10px 0px;
    a {
       color: #bebebe !important;
    }
  }
}

.company-information {
  // display: inline-block;
   font-size: 16px;
  .base-information {
    display: inline-block;
    text-align: left;
    margin-right: 100px;
    font-size: 18px;

    .company-name {
      font-size: 22px;
      // font-style: italic;
      font-weight: 800;
      font-family: "宋体", "PingFang Regular", Helvetica;
    }

    .telephone-number, .qq-number, .weichat-number {
        span:first-child {
          display: inline-block;
          width: 60px;
          text-align: left;
        }
    }
  }

  .weichat-code {
    display: inline-block;
     vertical-align: top;

    span {
     
    }
    img {
      height: 100px;
      width: 100px;
    }
  }

  .address {
    address {
      margin: 8px 0;
    }
  }
}