@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

header {
  max-width: 1200px;
  overflow: hidden;
  height: 100px; }
  header nav {
    height: 100px;
    width: 100%; }
    header nav h1 {
      display: inline-block;
      margin: 0;
      padding: 0; }
    header nav img {
      display: block;
      height: 80px; }
    header nav .navbar {
      height: 40px;
      margin: 30px 20px; }

.main {
  min-height: 100vh;
  margin-top: -100px;
  margin-bottom: 0;
  padding: 100px 0 220px 0; }

.footer {
  height: 220px;
  margin-top: -220px;
  background: #161616;
  color: #bebebe !important; }
  .footer .footer-nav {
    margin: 10px 0 0px 0 !important; }
  .footer .footer-nav li {
    margin: 10px 0px; }
    .footer .footer-nav li a {
      color: #bebebe !important; }

.company-information {
  font-size: 16px; }
  .company-information .base-information {
    display: inline-block;
    text-align: left;
    margin-right: 100px;
    font-size: 18px; }
    .company-information .base-information .company-name {
      font-size: 22px;
      font-weight: 800;
      font-family: "宋体", "PingFang Regular", Helvetica; }
    .company-information .base-information .telephone-number span:first-child, .company-information .base-information .qq-number span:first-child, .company-information .base-information .weichat-number span:first-child {
      display: inline-block;
      width: 60px;
      text-align: left; }
  .company-information .weichat-code {
    display: inline-block;
    vertical-align: top; }
    .company-information .weichat-code img {
      height: 100px;
      width: 100px; }
  .company-information .address address {
    margin: 8px 0; }
