.nav-wrapper {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  padding: 0;
  border: 1px solid #ddd;
  &>p {
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bolder;
  }
  ul.nav {
    margin: 0;
    padding: 10px 10px;
  }
}
.pic-show-wrapper {
  display: inline-block;
  width: calc(100% - 150px);
  margin: 0px 0 auto 20px;

  figure {
    float: left;
    margin: 10px 20px 10px 20px;

    figcaption {
      text-align: center;
      margin-top: 5px;
    }
  }
}