.nav-wrapper {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  padding: 0;
  border: 1px solid #ddd;
  &>p {
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bolder;
  }
  ul.nav {
    margin: 0;
    padding: 10px 10px;
  }
}
.pic-show-wrapper{
  float: right;
  width: calc(100% - 160px);
  margin: 0px 0 auto 20px;

  &>div {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    margin: 10px auto 10px auto;
    figcaption {
      text-align: center;
      margin-top: 5px;
    }
  }
  figure:last-child {
    align-self: flex-start;
  }
}
.Page{
  margin: 10px auto;
  text-align: center;
}